@charset "utf-8";
/* CSS Document */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: tahoma;
    font-size: 12px;
    width: 1000px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: blue;
}

#container {
    width: 100%;
    height: auto;
}

#banner {
    height: 0px;
    width: 100%;
    background: #09F;
    text-align: center;
    font-weight: bold;
    color: #FFF;
}

#menu {
    width: 100%;
    float: left;
    background: #09F;
    /*color: white;*/
    height: 49px;
}

#menu h1 {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 49px;
    text-align: center;
}

#main {
    width: 100%;
    position: relative;
    top: 50px;
}

#left {
    width: 200px;
    position: absolute;
    top: 5px;
    left: 0px;
    min-height: 500px;
    background: #f1f1f1;
}

.category {
    float: left;
    width: 198px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.category h1 {
    display: block;
    width: 199px;
    height: 32px;
    line-height: 32px;
    background: #999;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.category ul {
    width: 198px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.category ul a {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    display: block;
    padding-left: 15px;
    line-height: 30px;
    color: #333;
}

.category ul a:hover {
    color: orange;
}

.category p {
    line-height: 30px;
    text-align: center;
    font-size: 13px;
}

#content {
    height: 500px;
    margin-top: 0px;
    margin-left: 0px;
    width: 800px;
    position: absolute;
    top: 5px;
    left: 200px;
}
#brand_search{
    width: 500px;
    height: auto;
    margin: 10px auto auto;
}
#brand_search h3{
    font-size: 14px;
    font-weight: bold;
    color: gray;
}
input#search{
    line-height: 30px;
}
input#button{
    width: 70px;
    line-height: 30px;
    margin: 10px auto;
}
#brand_search select{
    width: 170px;
    height: 32px;
}
#brand_search select option{
    color: gray;
}
#tblbran_search tr{
    border-bottem: 1px solid gray;

}
#tblbran_search tr td{
    padding: 10px;
}
#footer {
    position: absolute;
    background: none repeat scroll 0% 0% #000;
    line-height: 30px;
    color: #FFF;
    top: 560px;
    text-align: center;
    width: 1000px;
}

/*table#user {*/
/*border: 1px solid gray;*/
/*border-spacing: 0px;*/
/*width: 700px;*/
/*height: auto;*/
/*margin: auto;*/
/*margin-top: 10px;*/
/*}*/

/*table#user tr#title {*/
/*font-weight: bold;*/
/*color: gray;*/
/*}*/

/*table#user tr td {*/
/*padding: 10px;*/
/*border: 1px solid gray;*/
/*color: gray;*/
/*}*/

/*a#insert {*/
/*display: block;*/
/*width: 100px;*/
/*height: 30px;*/
/*font-size: 14px;*/
/*background-color: #f2efef;*/
/*border-radius: 3px;*/
/*line-height: 30px;*/
/*text-align: center;*/
/*font-weight: bold;*/
/*margin: 25px auto auto;*/
/*}*/

/*form#insert_form {*/
/*width: 400px;*/
/*margin: 20px auto;*/
/*}*/

/*form#insert_form label {*/
/*font-weight: bold;*/
/*font-size: 13px;*/
/*color: gray;*/
/*line-height: 30px;*/
/*}*/

/*form#insert_form input {*/
/*line-height: 30px;*/
/*}*/

/*span.gender {*/
/*line-height: 30px;*/
/*font-size: 13px;*/
/*font-weight: bold;*/
/*color: gray;*/
/*}*/
